@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('LibreBaskerville/LibreBaskerville-Regular.ttf');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('LibreBaskerville/LibreBaskerville-RegularItalic.ttf');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('LibreBaskerville/LibreBaskerville-Bold.ttf');
}


body {
	font-family: "Libre Baskerville", "Times New Roman", serif;
}

.logo {
	width: 30vw;
	max-width: 250px;
	min-width: 96px;
}

.project-overview-card {
  cursor: pointer;
}

.project-detail-row {
  display: none;
}

.close-vertically-centered {
  font-size: inherit;
  line-height: inherit;
}